<link rel="stylesheet" href="{{ 'pagefly.0dd3711e.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_262911164608 == null %}{%- assign collection_262911164608 = collections["firecrest-ultra-cinema"] -%}{% endif %} {% if collection_262924304576 == null %}{%- assign collection_262924304576 = collections["cinema-neutral-density"] -%}{% endif %} {% if collection_262922305728 == null %}{%- assign collection_262922305728 = collections["cinema-graduated-nd"] -%}{% endif %} {% if collection_262922174656 == null %}{%- assign collection_262922174656 = collections["cinema-diffusion"] -%}{% endif %} {% if collection_262924828864 == null %}{%- assign collection_262924828864 = collections["cinema-essentials"] -%}{% endif %} {% if collection_165171986541 == null %}{%- assign collection_165171986541 = collections["clearance"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["262911164608"] = {{collection_262911164608 | json }};window.__pageflyCollections["262924304576"] = {{collection_262924304576 | json }};window.__pageflyCollections["262922305728"] = {{collection_262922305728 | json }};window.__pageflyCollections["262922174656"] = {{collection_262922174656 | json }};window.__pageflyCollections["262924828864"] = {{collection_262924828864 | json }};window.__pageflyCollections["165171986541"] = {{collection_165171986541 | json }};
	</script><div style="opacity:0" class="sc-DJfgX fpDRn __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-60ea"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-bac0"><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-3ca7"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-50a2 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-cb50"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-85ea"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-83eb">Cinema Filters</span></h2><p class="sc-ehSCib fIyeK pf-eacb" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-a985">Formatt Hitech provides industry leading optical solutions <br>for professional cinematography and broadcast</span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-994d"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-c0bd pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-f2f5"><img src="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-cea24da4--FC-Ultra.jpeg?v=1615594720" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-cea24da4--FC-Ultra.jpeg?v=1615594720 1536w" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-bca9"/></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-9101"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-dbf1 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-29ae"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-f349"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-4b01">IRND</span></h2><div class="sc-iIEYCM bUckxb pf-2970 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4;--ew-lg:2" data-pf-type="ProductList">{% assign collection_262911164608 = collections["firecrest-ultra-cinema"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_262911164608.products by 4 %}<!-- -->{% for product in collection_262911164608.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-3ada">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-8e67 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-c587"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-ab5d">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "555x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="555" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-4b72 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-fac9">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-9534">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-b0d6"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-861c"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-cf22 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-0372"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-7811"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-9e98">Essentials</span></h2><div class="sc-iIEYCM bUckxb pf-49c5 pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4;--ew-lg:2" data-pf-type="ProductList">{% assign collection_262924828864 = collections["cinema-essentials"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_262924828864.products by 2 %}<!-- -->{% for product in collection_262924828864.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-7673">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-83b1">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-cKZHah ksVPTr pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150.0815660685155%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "555x416.25" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="555" height="416.25"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-8ff4 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-dbbd">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-3bb3">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-bbb2"><span>ADD TO CART</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-49c5"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-fffa"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-42a2 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a704"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-0261"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-4096">Diffusion<br></span></h2><div class="sc-iIEYCM bUckxb pf-b2c8 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_262922174656 = collections["cinema-diffusion"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_262922174656.products by 4 %}<!-- -->{% for product in collection_262922174656.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-a576">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-97ee pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-ee25"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-9fa7">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150.0815660685155%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-983e {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-ae20">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-acc2">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-bb0b"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-b2c8"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-bc83"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-1f42 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-dd19"><h1 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-7031"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-dbb4">Graduated ND</span></h1><div class="sc-iIEYCM bUckxb pf-84b2 pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_262922305728 = collections["cinema-graduated-nd"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_262922305728.products by 4 %}<!-- -->{% for product in collection_262922305728.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-3120">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-e221">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-cKZHah ksVPTr pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:136.05442176870747%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x196.875" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="196.875"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-1417 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-cc07">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-4db1">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-b5f7"><span>ADD TO CART</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-84b2"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-edde"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-dbd7 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-2ac6"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-4262"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-3f3d">Standard Neutral Density</span></h2><div class="sc-iIEYCM bUckxb pf-0b70 pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4;--ew-lg:3" data-pf-type="ProductList">{% assign collection_262924304576 = collections["cinema-neutral-density"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_262924304576.products by 3 %}<!-- -->{% for product in collection_262924304576.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-8295">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-f84f">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-cKZHah ksVPTr pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "360x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="360" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-e367 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-ddc5">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-7508">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-4aa2"><span>ADD TO CART</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-0b70"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-4df4"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-3caa pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-fdcd"><h1 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-2407"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-f3f5">Clearance</span></h1><div class="sc-iIEYCM bUckxb pf-c195 pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_165171986541 = collections["clearance"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_165171986541.products by 4 %}<!-- -->{% for product in collection_165171986541.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-73c7">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-705c">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-cKZHah ksVPTr pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:75%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x196.875" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="196.875"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-ccc9 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-9ef9">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-fabd">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-4615"><span>ADD TO CART</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-c195"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.6","shopDomain":"formatt-hitech-usa.myshopify.com","elementData":{"ab5d":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"b0a3":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"83b1":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"f414":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"9fa7":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"1c48":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"e221":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"17e3":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"f84f":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"67cc":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"705c":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"c927":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Cinema 1st","pageType":"collection","pageId":"0dd3711e-8112-4fad-9f2f-7ec5c6b9483a","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap","trackingIDs":[{"elementId":"1b71ac4a-ab5d-40d6-8587-8e673ada2970","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"ac4aab5d-b0d6-4587-8e67-3ada29708387","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"9e987811-83b1-4bbd-bbb3-fd0c9b20bbb2","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"fd0c9b20-bbb2-4673-89c5-0372cf22861c","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"983e1c48-9fa7-4e20-acc2-b3fbaa5dbb0b","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"b3fbaa5d-bb0b-4e25-97ee-a576b2c8a704","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"dbb47031-e221-4c07-8db1-e1251eb1b5f7","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"e1251eb1-b5f7-4120-84b2-dd191f42bc83","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"3f3d4262-f84f-4dc5-b508-07cd15e24aa2","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"07cd15e2-4aa2-4295-8b70-2ac6dbd7edde","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"8387f3f5-705c-4ef9-babd-916161a12407","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"61a12407-4615-43c7-8195-fdcd3caa4df4","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.6/core/helper.js" defer></script>