<link rel="stylesheet" media="print" onload="this.media='all'" href="{{ 'pagefly.75410938.css' | asset_url }}">  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_263225540800 == null %}{%- assign collection_263225540800 = collections["resin-neutral-density"] -%}{% endif %} {% if collection_263225835712 == null %}{%- assign collection_263225835712 = collections["resin-graduated"] -%}{% endif %} {% if collection_263230881984 == null %}{%- assign collection_263230881984 = collections["resin-best-sellers"] -%}{% endif %} {% if collection_263231373504 == null %}{%- assign collection_263231373504 = collections["resin-kits"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["263225540800"] = {{collection_263225540800 | json }};window.__pageflyCollections["263225835712"] = {{collection_263225835712 | json }};window.__pageflyCollections["263230881984"] = {{collection_263230881984 | json }};window.__pageflyCollections["263231373504"] = {{collection_263231373504 | json }};
	</script><div style="opacity:0" class="sc-DJfgX fpDRn __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-9938"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-3880"><div data-pf-type="CollectionPreview" class="pf-14a9" store="[object Object]"> </div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-80aa pf-bg-lazy"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-aac3 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-c30d"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-0da5"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-167c">Optical Resin</span></h2><p class="sc-ehSCib fIyeK pf-7c3c" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-c922">Precision filters using our Absorbing Cell Technology</span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-5740"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-8757 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:3;--c-sm:2;--c-md:1;--c-lg:4"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-2a0f"><img src="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-d58a2e51--FH-Logo_300x.png?v=1616195194" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-d58a2e51--FH-Logo.png?v=1616195194 1536w" loading="lazy" width="300" height="104" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-752a"/></div></div><div class="pf-c" style="--c-xs:3;--c-sm:2;--c-md:1;--c-lg:8"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-9675"><p class="sc-ehSCib fIyeK pf-a90a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-079d">We use CR-39 optical resin in this lightweight filters series with an optical quality that rivals glass filters. Perfect for less used filters like color graduated or in situations where you don't want to risk your glass filter investment.  </span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-8fa2"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-a267 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-67db"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-db5c"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-b161">Neutral Density</span></h2><div class="sc-iIEYCM bUckxb pf-610a pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_263225540800 = collections["resin-neutral-density"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_263225540800.products by 4 %}<!-- -->{% for product in collection_263225540800.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-0a6c">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-6cd4 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-d45b"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-5b45">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="lazy" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-458a {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-09cc">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-ccaa">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-aa88"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-610a"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-129b pf-bg-lazy"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-9b6e pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-6e20"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-20e3"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-e3d4">Absorbing Cell Technology™</span></h3><p class="sc-ehSCib fIyeK pf-d4fa" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-02e0">Formatt Hitech filters use our award winning and exclusive Absorbing Cell Technology process to dye the resin. 

The Absorbing Cell Technology process absorbs color or effect into each cell of the resin rather than coating onto it, ensuring that the color is applied consistently across the filter. This means that each Formatt-Hitech filter is consistently replicated time after time. The densities and formulation of the dying process are strictly computer controlled, creating the most accurate filter reproduction in the world.</span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-0f21"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-21c2 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-c21f"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-1ff3"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-8167">Graduated</span></h2><div class="sc-iIEYCM bUckxb pf-67c7 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_263225835712 = collections["resin-graduated"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_263225835712.products by 4 %}<!-- -->{% for product in collection_263225835712.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-c747">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-47a2 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a24e"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-4e01">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="lazy" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-0110 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-1c2f">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-2f13">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-139b"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% if paginate.next.is_link %}<div class="sc-gsBrbv dgedbA pf-cmIpgn" data-selector=".__pf .pf-67c7"><a class="pf-cmIldm" href="{{ paginate.next.url }}" data-total="{{ paginate.pages }}">Load More</a></div>{% endif %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-afe4"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-e476 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-76dd"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-dd41"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-f8dc">Popular</span></h2><div class="sc-iIEYCM bUckxb pf-dc86 pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_263230881984 = collections["resin-best-sellers"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_263230881984.products by 4 %}<!-- -->{% for product in collection_263230881984.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-8676">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-76da">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-cKZHah ksVPTr pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x196.875" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="lazy" width="262.5" height="196.875"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-da79 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-7aa3">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-a321">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-2103"><span>ADD TO CART</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div><div class="sc-jgHCyG eZqcrI pf-5287 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-8723"><h2 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-231c"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-eeb7">Kits</span></h2><div class="sc-iIEYCM bUckxb pf-b7df pf-r pf-r-ew" style="--s-xs:7.5px;--s-lg:15px;--ew-xs:2;--ew-sm:4" data-pf-type="ProductList">{% assign collection_263231373504 = collections["resin-kits"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_263231373504.products by 4 %}<!-- -->{% for product in collection_263231373504.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-dfb4">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-b470">{% assign images = product.images %}<div style="--g-xs:10px;--l-xs:5;--w-xs:;--w-md:0" class="sc-cKZHah ksVPTr pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x196.875" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="lazy" width="262.5" height="196.875"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw   pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-70c1 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="lazy" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-aaa9">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-a93e"><span>ADD TO CART</span></button>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-284a"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-4a0f pf-r pf-c-cm" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-0fdb"><p class="sc-ehSCib fIyeK pf-dbb1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-10e8">In recent years I've been thrilled to have won national competitions and to have had work featured in both print and broadcast media. The award which means the most to me was winning the 70th Anniversary "Moments in Time" competition held by the Campaign for National Parks. Getting involved with CNP has led to some great opportunities, including being accepted into the Formatt Hitech Ambassador program.</span></p><p class="sc-ehSCib fIyeK pf-e8c3" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-b697">- Kieran Metcalfe</span></p><a href="#print" target="_self" data-pf-type="Button" class="sc-hHftDr ePcRTE pf-973f"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-b1f9">FORMATT HITECH AMBASSADORS</span></a></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-f981"><img src="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-f85ef877--MUGSHOTSQUAREKieranMetcalfe_250x.jpg?v=1615422641" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-f85ef877--MUGSHOTSQUAREKieranMetcalfe.jpg?v=1615422641 1536w" loading="lazy" width="250" height="250" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-812f"/></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.6","shopDomain":"formatt-hitech-usa.myshopify.com","elementData":{"5b45":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"8a09":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"4e01":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"101c":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"76da":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"797a":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"b470":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"height":"200px","spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":1,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"c1ce":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Optical Resin","pageType":"collection","pageId":"75410938-b13f-43d0-b08e-5109568033bc","lazyLoad":true,"imageLazyLoad":true,"fontLink":"https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;600&family=Lato:wght@400&display=swap","trackingIDs":[{"elementId":"610a6cd4-5b45-4a09-8caa-88b7129b6e20","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"458a09cc-aa88-4712-9b6e-20e3e3d4fa02","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"67c747a2-4e01-401c-af13-9b295287231c","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"01101c2f-139b-4952-8723-1ceeb7dfb470","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"41f8dc86-76da-497a-a321-03c5284a0fdb","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"da797aa3-2103-4528-8a0f-dbb110e8c3b6","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"1ceeb7df-b470-41ce-aaa9-3ea5c7ea6973","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"70c1ceaa-a93e-45c7-aa69-7397dfdf22e1","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.6/core/helper.js" defer></script>