<link rel="stylesheet" href="{{ 'pagefly.e7e495fd.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	{% unless product.id == null %}window.__pageflyProducts["{{product.id}}"] = {
		id: {{ product.id | json }},
		handle: {{ product.handle | json }},
		title: {{ product.title | json }},
		type: {{ product.type | json }},
		url: {{ product.url | json }},
		vendor: {{ product.vendor | json }},
		variants: {{ product.variants | json }},
		options: {{ product.options | json }},
		media: {{ product.media | json }},
		has_only_default_variant: {{ product.has_only_default_variant | json }},
		options_with_values: {{ product.options_with_values | json }},
		selected_variant: {{ product.selected_variant | json }},
		selected_or_first_available_variant: {{ product.selected_or_first_available_variant | json }},
		tags: {{ product.tags | json }},
		template_suffix: {{ product.template_suffix | json }},
		featured_image: {{ product.featured_image | json }},
		featured_media: {{ product.featured_media | json }},
		images: {{ product.images | json }}
	};{% endunless %}
	</script>{% if collection_235932942528 == null %}{%- assign collection_235932942528 = collections["onyx"] -%}{% endif %} {% if collection_153891209325 == null %}{%- assign collection_153891209325 = collections["signature-edition-artists"] -%}{% endif %} {% if collection_261866389696 == null %}{%- assign collection_261866389696 = collections["optical-resin-filters"] -%}{% endif %} {% if collection_162471510125 == null %}{%- assign collection_162471510125 = collections["filter-holders"] -%}{% endif %} {% if collection_157177512045 == null %}{%- assign collection_157177512045 = collections["firecrest-ultra"] -%}{% endif %} {% if collection_162478620781 == null %}{%- assign collection_162478620781 = collections["accessories"] -%}{% endif %}<script>
	window.__pageflyCollections = window.__pageflyCollections || {};
	window.__pageflyCollections["235932942528"] = {{collection_235932942528 | json }};window.__pageflyCollections["153891209325"] = {{collection_153891209325 | json }};window.__pageflyCollections["261866389696"] = {{collection_261866389696 | json }};window.__pageflyCollections["162471510125"] = {{collection_162471510125 | json }};window.__pageflyCollections["157177512045"] = {{collection_157177512045 | json }};window.__pageflyCollections["162478620781"] = {{collection_162478620781 | json }};
	</script><div style="opacity:0" class="sc-DJfgX fpDRn __pf" id="__pf"><div data-pf-type="Body" class="sc-eggNIi JiLrb pf-274f"><div data-pf-type="Layout" class="sc-jcVebW hrCIoP pf-2eba"><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-47c7"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-057c pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-3074"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-19ee"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-4b36">Photography Filters</span></h3></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-7cc9"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-5f93 pf-r pf-r-eh" style="--s-xs:0px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:5;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-d596"><img src="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-d58a2e51--FH-Logo.png?v=1616195194" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-d58a2e51--FH-Logo.png?v=1616195194 1536w" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-2e51"/></div></div><div class="pf-c" style="--c-xs:12;--c-sm:7;--c-md:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-1032"><p class="sc-ehSCib fIyeK pf-852a" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-17f2">Formatt-Hitech filters are carefully crafted in the UK using the most advanced and scientific manufacturing process in the filter industry.</span></p></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-e3c0"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-4e32 pf-r pf-c-rb" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-50e4"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-e734"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-210e">Firecrest Ultra</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-440c"><a href="/collections/firecrest-ultra" target="_blank" data-pf-type="Button" class="sc-hHftDr jtzyIb pf-6158"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-34f2">SHOP ALL FIRECREST ULTRA</span><i class="sc-ezrdKe bAYFRD pf-e3bf pfa pfa-arrow-right" data-pf-type="Icon"></i></a></div></div></div><div class="sc-jgHCyG eZqcrI pf-d37f pf-r pf-r-eh" style="--s-xs:7.5px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-d974"><div class="sc-iIEYCM bUckxb pf-f090 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_157177512045 = collections["firecrest-ultra"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_157177512045.products by 4 %}<!-- -->{% for product in collection_157177512045.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-64ea">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-a60e pf-r pf-r-eh" style="--s-xs:7.5px;--s-sm:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-2337"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-134c">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-3c1a {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-6226">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-4b9a">{{ product.variants[0].price | money }}</div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" class="sc-kmASHI ddUgyr pf-fd38" data-pf-type="ProductVariant"><select name="id" class="pf-variant-select">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-730b"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-f144"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-80e8 pf-r pf-c-rb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a049"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-d3c6"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-60d3">Onyx</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-7037"><a href="/collections/onyx" target="_blank" data-pf-type="Button" class="sc-hHftDr jtzyIb pf-3b65"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-9b70">SHOP ALL ONYX</span><i class="sc-ezrdKe bAYFRD pf-bb09 pfa pfa-arrow-right" data-pf-type="Icon"></i></a></div></div></div><div class="sc-jgHCyG eZqcrI pf-99b0 pf-r pf-c-rb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-53a0"><div class="sc-iIEYCM bUckxb pf-da16 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_235932942528 = collections["onyx"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_235932942528.products by 4 %}<!-- -->{% for product in collection_235932942528.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-5f03">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-1df8 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-37f2"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-95fe">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:86.80555555555556%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-62f4 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-cddc">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-3dcc">{{ product.variants[0].price | money }}</div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" class="sc-kmASHI ddUgyr pf-0288" data-pf-type="ProductVariant"><select name="id" class="pf-variant-select">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-693a"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-7884"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-9564 pf-r pf-c-rb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-412b"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-65c5"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-e0f5">Signature Edition Artist Kits</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-b07c"><a href="/collections/signature-edition-artists" target="_blank" data-pf-type="Button" class="sc-hHftDr jtzyIb pf-258d"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-60f6">SHOP ALL SIGNATURE KITS</span><i class="sc-ezrdKe bAYFRD pf-1699 pfa pfa-arrow-right" data-pf-type="Icon"></i></a></div></div></div><div class="sc-jgHCyG eZqcrI pf-561d pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-d208"><div class="sc-iIEYCM bUckxb pf-e70a pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_153891209325 = collections["signature-edition-artists"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_153891209325.products by 4 %}<!-- -->{% for product in collection_153891209325.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-7955">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-5330 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-e0a4"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-c275">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:171.48148148148147%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-7f5d {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-2412">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-a742">{{ product.variants[0].price | money }}</div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" class="sc-kmASHI ddUgyr pf-2bf2" data-pf-type="ProductVariant"><select name="id" class="pf-variant-select">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-d4a8"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-afd0"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-ca9e pf-r pf-c-rb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-73da"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-88aa"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-9abd">Optical Resin</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-e7a9"><a href="/collections/optical-resin-filters" target="_blank" data-pf-type="Button" class="sc-hHftDr jtzyIb pf-8073"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-fe78">SHOP ALL RESIN FILTERS</span><i class="sc-ezrdKe bAYFRD pf-1760 pfa pfa-arrow-right" data-pf-type="Icon"></i></a></div></div></div><div class="sc-jgHCyG eZqcrI pf-344e pf-r pf-r-eh" style="--s-xs:0px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-efb2"><div class="sc-iIEYCM bUckxb pf-0065 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_261866389696 = collections["optical-resin-filters"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_261866389696.products by 4 %}<!-- -->{% for product in collection_261866389696.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-fca8">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-3dfe pf-r pf-r-eh" style="--s-xs:0px;--s-sm:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-ed4d"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-cae0">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-1871 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-6a11">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-2d64">{{ product.variants[0].price | money }}</div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" class="sc-kmASHI ddUgyr pf-0e50" data-pf-type="ProductVariant"><select name="id" class="pf-variant-select">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-fc02"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-be74"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-bf4f pf-r pf-c-rb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-a5c8"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-c92b"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-6e32">Filter Holders</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-d693"><a href="/collections/filter-holders" target="_blank" data-pf-type="Button" class="sc-hHftDr jtzyIb pf-68c0"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-ccdd">SHOP ALL FILTER HOLDERS</span><i class="sc-ezrdKe bAYFRD pf-66d4 pfa pfa-arrow-right" data-pf-type="Icon"></i></a></div></div></div><div class="sc-jgHCyG eZqcrI pf-4696 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-2e5c"><div class="sc-iIEYCM bUckxb pf-8df1 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_162471510125 = collections["filter-holders"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_162471510125.products by 4 %}<!-- -->{% for product in collection_162471510125.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-3511">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-4ff0 pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-23e8"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-a1d6">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:100%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-a3a1 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-ffa0">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-3b94">{{ product.variants[0].price | money }}</div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" class="sc-kmASHI ddUgyr pf-1ae4" data-pf-type="ProductVariant"><select name="id" class="pf-variant-select">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-2c7e"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-a12d"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-09d2 pf-r pf-c-rb pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-2ea0"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-fc5c"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-808b">Accessories</span></h3></div></div><div class="pf-c" style="--c-xs:12;--c-sm:6;--c-lg:6"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-8aa9"><a href="/collections/accessories" target="_blank" data-pf-type="Button" class="sc-hHftDr jtzyIb pf-095c"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-014d">SHOP ALL ACCESSORIES</span><i class="sc-ezrdKe bAYFRD pf-e3cb pfa pfa-arrow-right" data-pf-type="Icon"></i></a></div></div></div><div class="sc-jgHCyG eZqcrI pf-243b pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-1776"><div class="sc-iIEYCM bUckxb pf-d750 pf-r pf-r-ew" style="--s-xs:15px;--ew-xs:2;--ew-md:4" data-pf-type="ProductList">{% assign collection_162478620781 = collections["accessories"] %}<!-- -->{% assign defaultProduct = product %}<!-- -->{% paginate collection_162478620781.products by 4 %}<!-- -->{% for product in collection_162478620781.products %}<div class="pf-c"><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-Fyfyc fTMjUf pf-8135">{% if product != null %}{% form "product", product, data-productid: product.id, class: "pf-product-form" %}<div class="sc-jgHCyG eZqcrI pf-bd3e pf-r pf-r-eh" style="--s-xs:15px;--s-lg:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-53ff"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage" class="sc-iGctRS fpSvqg pf-5659">{% assign images = product.images %}<div style="--w-xs:0" class="sc-cKZHah cTUFfb pf-r-dg"><div data-href="{{ product.url }}" data-pf-type="MasterImage" style="order:0;--ratio:150%" class="sc-kiYtDG bGjher"><img src="{{ product.featured_image | img_url: "262.5x270" }}" srcSet="{{ product.featured_image | img_url: "450x" }} 300w, {{ product.featured_image | img_url: "300x" }} 200w, {{ product.featured_image | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ product.featured_image.alt }}" loading="eager" width="262.5" height="270"/>{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-irlOZD jUdyne pf-md-hide pf-lg-hide">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-kUbhmq jEqguw pf-hide pf-sm-hide pf-md-hide pf-lg-hide"><div data-pf-type="ProductImageList" class="sc-dwcuIR jktQCG pf-r-dg">
								{% assign pf_all = "" %}
								{% assign pf_laptop = "" %}
								{% assign pf_tablet = "" %}
								{% assign pf_mobile = "" %}
								{% for i in (0..images.size) limit:images.size %}
								{% assign image = images[i] %}
								{% if true %}
								{% if i > 4 %}
								{% assign pf_all = "pf-lg-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_laptop = "pf-md-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_tablet = "pf-sm-hide" %}
								{% endif %}
								{% if i > 4 %}
								{% assign pf_mobile = "pf-hide" %}
								{% endif %}
								{% endif %}
							<div class="sc-jtHMlw jaQVoM pf-9c6b {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img loading="eager" src="{{ image.src | img_url: "small" }}" srcSet="{{ image.src | img_url: "450x" }} 300w, {{ image.src | img_url: "300x" }} 200w, {{ image.src | img_url: "150x" }} 100w" sizes="(min-width: 300px) 300px, (min-width: 100px) and (max-width: 200px) 200px, 100px" alt="{{ image.alt }}" draggable="false" width="{{ image.width }}" height="{{ image.height }}"/></div>{% endfor %}</div>{% if true %}<div data-pf-nav="prev" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-left"></i></div><div data-pf-nav="next" class="sc-eWvPJL hgQjmC"><i class="pfa pfa-angle-right"></i></div>{% endif %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-gyUeRy fFXEDN pf-6958">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-gVgnHT bfDGHw pf-c6c9">{{ product.variants[0].price | money }}</div><div data-combined="true" data-display="dropdown" data-label="true" data-product-id="{{ product.id }}" class="sc-kmASHI ddUgyr pf-f597" data-pf-type="ProductVariant"><select name="id" class="pf-variant-select">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div><button data-product-id="{{ product.id }}" data-checkout="same" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC" class="sc-fXoxut hxrQKa pf-1219"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
				window.__pageflyProducts = window.__pageflyProducts || {};
				window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};</script></div>{% endfor %}<!-- -->{% endpaginate %}<!-- -->{% assign product = defaultProduct %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-a5d8"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-40eb pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-515d"><div data-slider="{'slidesToShow':{'all':1,'laptop':1,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'loop':false,'autoPlay':false,'autoPlayDelay':3000}" class="sc-fbkhIv bbYtDc pf-fdda glider-n-1" data-pf-type="Slider"><div class="glider"><div class="glide-wrapper"><div class="sc-GqfZa emfPRz pf-9a2b pf-c-cm" data-pf-type="Slide"><div><div data-pf-type="Block" class="sc-iBaPrD gdARiY pf-646a"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-97cd"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-7878">Ambassadors</span></h3><p class="sc-ehSCib fIyeK pf-4543" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-594e">In recent years I've been thrilled to have won national competitions and to have had work featured in both print and broadcast media. The award which means the most to me was winning the 70th Anniversary "Moments in Time" competition held by the Campaign for National Parks. Getting involved with CNP has led to some great opportunities, including being accepted into the Formatt Hitech Ambassador program.</span></p><img src="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-f85ef877--MUGSHOTSQUAREKieranMetcalfe.jpg?v=1615422641" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-f85ef877--MUGSHOTSQUAREKieranMetcalfe.jpg?v=1615422641 1536w" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-0e6a"/><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-6495"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-243b">Kieran Hayes</span></h3></div></div></div></div><div class="glide-wrapper"><div class="sc-GqfZa emfPRz pf-81b9 pf-c-cm" data-pf-type="Slide"><div><div data-pf-type="Block" class="sc-iBaPrD gdARiY pf-2451"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-d258"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-e4aa">Ambassadors</span></h3><p class="sc-ehSCib fIyeK pf-55fa" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-4561">Exploring the great outdoors really helps me to unwind from day to day pressures and balance the mind. I often become overwhelmed by the scenes in front of me and struggle with appropriate composition but since falling in love with long exposure techniques I can slow things down and sometimes turn a mediocre shot into something special.</span></p><img src="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-f8778936--HelenTrustMugshot-Edited.jpg?v=1615422858" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/0267/9934/1677/t/17/assets/pf-f8778936--HelenTrustMugshot-Edited.jpg?v=1615422858 1536w" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-9f5f"/><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-51d6"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-2a41">Helen Trust</span></h3></div></div></div></div></div><button aria-label="Previous" class="glider-prev glider-nav glider-nav-1"></button><button aria-label="Next" class="glider-next glider-nav glider-nav-1"></button><div class="glider-dots glider-d-3"></div></div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-0b56"><div style="--cw:1170px" class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-4747 pf-r pf-c-cm" style="--s-xs:0px;--s-sm:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-b5ab"><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-a814"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-c6cd">BE THE FIRST </span></h3><p class="sc-ehSCib fIyeK pf-49df" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-70c2">Sign up for latest news, sales and offers</span></p><div data-pf-type="Form2" class="sc-fybufo evIhwh pf-0082">{% form "customer" %}<div class="sc-jgHCyG eZqcrI pf-a498 pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:6;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-5fc2"><div data-pf-type="Form2.Field" class="sc-dkAroR kfCTtj pf-db90"><input type="email" name="contact[email]" placeholder="Please enter your email" required="" value="" data-pf-type="FormInput" class="sc-bUrJUP ftSKDG pf-ff40"/></div><button type="submit" data-pf-type="Form2.Button" class="sc-jLiVlK fdomaa pf-7933"><i class="sc-ezrdKe bAYFRD pf-8609 pfa pfa-check" data-pf-type="Icon"></i>Sign up</button></div></div></div>{% for field in form.errors %}
				{% if field == "form" %}<p class="sc-iWFSnp hwXcuC">Sorry, the submission can not be sent! Please try again later!</p>{{ form.errors.messages[field] }}
				{% endif %}
				{% if form.errors.messages[field] contains "can't be blank." %}<p class="sc-iWFSnp hwXcuC">Field can not be blank</p>{% else %}<p class="sc-iWFSnp hwXcuC">Sorry, the submission can not be sent! Please try again later!</p>{% endif %}
				{% endfor %}
				{% if form.posted_successfully? %}<p class="sc-iWFSnp hwXcuC">Thank you for your submissions!</p>{% endif %}
				{% endform %}</div></div></div></div></div></div><div data-pf-type="Section" class="sc-jeGSBP iRgiNB pf-1ffd"><div class="sc-iNqMTl hFrbFX"><div class="sc-jgHCyG eZqcrI pf-bc0d pf-r pf-r-eh" style="--s-xs:15px;--s-sm:0px;--s-md:15px;--s-lg:2px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:6;--c-lg:12"><div data-pf-type="Column" class="sc-cTkwdZ fFvlhF pf-677e"><img src="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-33ffb06e--instagram-icon.png?v=1601892017" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) and (max-width: 1535px) 1280px, (min-width: 640px) and (max-width: 1023px) 768px, 320px" srcSet="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-33ffb06e--instagram-icon.png?v=1601892017 1536w" data-pf-type="Image" class="sc-bYEvPH khGBIg pf-29a2"/><h3 data-pf-type="Heading" class="sc-lmoMRL giuwNB pf-d049"><span data-pf-type="Text" class="sc-bTvRPi bkmCaf pf-6d65">Follow us on Instagram @Casen </span></h3></div></div></div></div></div></div></div></div><script>window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.0.6","shopDomain":"formatt-hitech-usa.myshopify.com","elementData":{"5659":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"134c":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"7ccc":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"95fe":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"0966":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"c275":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"88d8":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"cae0":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"c329":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"a1d6":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage"},"b183":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"},"606a":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Photography","pageType":"collection","pageId":"e7e495fd-e2bb-476e-88a8-d69955083388","lazyLoad":false,"forceByPassGoogleLightHouse":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"useThemeJQ":false,"fontLink":"https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Roboto+Condensed:wght@400;500;700&family=Domine:wght@400&display=swap","trackingIDs":[{"elementId":"3c1a7ccc-134c-4226-8b9a-fd389d8feea7","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"9d8feea7-730b-4337-a60e-64eaf090d974","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"62f40966-95fe-4ddc-bdcc-02886d092b5f","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"6d092b5f-693a-47f2-9df8-5f03da1653a0","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"7f5d88d8-c275-4412-a742-2bf2c641d744","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"c641d744-d4a8-40a4-9330-7955e70ad208","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"1871c329-cae0-4a11-ad64-0e508db0e5cb","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"8db0e5cb-fc02-4d4d-bdfe-fca80065efb2","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"c92b68c0-a1d6-4c7e-a5c8-d69323e8bf4f","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"68c0a1d6-2c7e-45c8-9693-23e8bf4f4ff0","elementType":"ProductATC","elementName":"ProductATC"},{"elementId":"fc5c095c-5659-4219-aea0-8aa953ff09d2","elementType":"ProductImage","elementName":"ProductImage"},{"elementId":"095c5659-1219-4ea0-8aa9-53ff09d2bd3e","elementType":"ProductATC","elementName":"ProductATC"}],"shopifyProxyPath":"/a/pf_preview"};window.__pagefly_setting__.moneyFormat={{shop.money_format|json}};</script><script src="https://cdn.pagefly.io/pagefly/3.0.6/core/helper.js" defer></script>